
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Indie+Flower&family=Playwrite+AT:ital,wght@0,100..400;1,100..400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Indie+Flower&family=Playwrite+AT:ital,wght@0,100..400;1,100..400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-base: #11141f;
  --color-soft: #ffffff;
  --color-accent: #ff0037; /*  --color-accent: #ff0055;
*/
  --color-deep: #ff0055;
  --color-white: #ffffff;

  --section-min-height: 100svh;
  --section-padding-block: clamp(4rem, 8vh, 8rem);
  --border-radius: 1rem;
  
}

body {
  font-family: "Figtree", sans-serif;
  background: var(--color-base);
  color: var(--color-white);
  letter-spacing: 2px;

}

section {
  min-height: var(--section-min-height);
  height: auto;
}



.container {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
}

h1{
  font-size: clamp( 2.5rem, 3vw, 4rem);
  color: var(--color-white);

}
h2{
  font-size: clamp( 0.8rem, 1vw, 1rem);
}
h4{
  font-size: clamp(0.7rem, 1vw, 1rem);
}

p {
  font-size: clamp( 0.8rem, 2vw, 1.25rem);
  color: var(--color-white);
  line-height: 1.5;


}


button{
  font-family: "Figtree", sans-serif;
  display: flex;
  border: none;
  padding: 0.8rem 1.2rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 0.6em;
   font-weight: 700;
  font-size: 0.95em;
  transition: transform 0.25s cubic-bezier(.4,0,.2,1);
  letter-spacing: 2px;
  border-radius: 5px;

  

}

/* Organização interna */
.btn-content {
  display: flex;
  align-items: center;
  gap: 0.6em;
  transition: transform 0.3s ease;

}

.btn-links {
  background: #202430;
  border: 1px solid rgba(255,255,255,0.06);
  color: var(--color-text-muted);
  padding: 0.8rem;
}

.btn-secundario {
  background-color: var(--color-accent);
  color: var(--color-text-muted);
}

@keyframes pulseIcon {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}
